@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(29,191,115);
}

#pfp{
border-radius: 50%;
width: 200px;
border: black;
border-style: solid;

}
#profile{
  border-width: 5px;
  justify-content: center;
  display: flex;
}
#displayName{
  text-align: center;
}
#pfpdisplayname{
  margin-top: 65px;
}
#post_content{
  width: 600px;
  height: 100px;
}
#postauthor{
  background-color: darkgreen;
  border-color: black;

}